<div class="section no-pad-bot cover red" id="index-banner">
    <br/>
    <br/>
        <h1 class="header center white-text">Welcome to Lingotto v<%= $VERSION %></h1>
        <div class="row center white-text">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design and cut-and-pasted by Riccardo</h5>
            <h6 class="header col s12 light">Tested with Ruby 2.4.1 and Rails 5.0</h6>
        </div>
        <div class="row center">
            <a class="btn-large waves-effect waves-light orange" href="/parts" id="download-button">Get Started</a>
        </div>
    <br/>
    <br/>
</div>

<div class="section container">
   <!--Icon Section-->
   <div class="row">
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">Figata galattica</h5>
            <p class="light">
               Ora posso copiare a balus per i miei RoR projects 
               and pushare subito su kubernadis. E mia moglie non mi pijjera piu per il culo
               perche gioco con RoR.
            </p>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">group</i>
            </h2>
            <h5 class="center">Pubblico</h5>
            <p class="light">Il codice e pubblicato pubblicamente (scusate la ripetizione) su githubbolo.
                  <a href="https://github.com/palladius/Materialize-Rails" >
                  https://github.com/palladius/Materialize-Rails
                  </a>
            </p>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">settings</i>
            </h2>
            <h5 class="center">What's missing</h5>
            <p class="light">
              <%= $TODOS %>
            </p>
         </div>
      </div>
   </div>
</div>