<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><%= $APPNAME %> v<%= $VERSION %></h5>
        <p class="grey-text text-lighten-4">
        A Materialize Theme that is written in HTML, CSS, and Ruby; something for Riccardo to easily cut-n-paste and then sciappinate with Cloud Build and k8s.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/palladius/"><i class="fa fa-github"></i> Github Repo</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/riccardocarlesso/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.palladius.it"><i class="fa fa-google-plus-official"></i> Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
    <b>© <%= Time.current.year %> Riccardo Carlesso</b> ( thanks to Melvin Ch'ng)
    </div>
  </div>
</footer>